[Unit]
Description=Ding Dong Service
After=multi-user.target

[Service]
Type=idle
Restart=always
User=ubuntu
EnvironmentFile=/home/ubuntu/dingdong/environment
ExecStart=/home/ubuntu/dingdong/venv/bin/python /home/ubuntu/dingdong/dingdong.py --interval 10 --domains="/home/ubuntu/dingdong/domains.txt"

[Install]
WantedBy=multi-user.target